@mixin floating{
    border-radius: 50%;
   
    box-shadow: 5px 5px 15px 5px #000000;;
}
@mixin button ($color){
    @each $color in $color-button{
        .button-#{$color}{
            color: $color;
        }
    }

}